.cart-list {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto !important;
    margin-top: 20px !important;
    margin-bottom: 10px;
  }
  .cart-total {
    text-align: right;
    font-size: 1.7rem;
    margin-right: 20px;
    font-weight: bold;
  }
  .cart-empty {
    text-align: center;
    font-size: 1.7rem;
    font-weight: bold;
    color: red;
    max-width: 70%;
    margin: 20px auto 0px auto;
    border: 1px solid #d3cbcb;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.2);
    background-color: #f8f9fa;
  }
  .cart-finalize {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
  }
  .cart-finalize-button {
    padding: 10px 12px;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1;
    border-radius: 10px;
    border: 1px solid #beb8b8;
    background-color: #f3d05f;
    user-select: none;
    box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.2);
  }
  .cart-finalize-container {
    display: flex;
    justify-content: flex-end;
    width: 90%;
    margin: auto !important;
    margin-top: 20px !important;
    margin-bottom: 10px;
  }